<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prdServlet</servlet-name>
        <servlet-class>Servlet.prdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cards</servlet-name>
        <servlet-class>Servlet.Cards</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>Servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardSleeve</servlet-name>
        <servlet-class>Servlet.CardSleeve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeckBox</servlet-name>
        <servlet-class>Servlet.DeckBox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoosterPack</servlet-name>
        <servlet-class>Servlet.BoosterPack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>Servlet.PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>Servlet.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prdListServlet</servlet-name>
        <servlet-class>Servlet.prdListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Createprd</servlet-name>
        <servlet-class>Servlet.Createprd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editprd</servlet-name>
        <servlet-class>Servlet.Editprd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleteprd</servlet-name>
        <servlet-class>Servlet.Deleteprd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchaseServlet</servlet-name>
        <servlet-class>Servlet.purchaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prdServlet</servlet-name>
        <url-pattern>/prd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cards</servlet-name>
        <url-pattern>/cards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardSleeve</servlet-name>
        <url-pattern>/cardsleeve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeckBox</servlet-name>
        <url-pattern>/deckbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoosterPack</servlet-name>
        <url-pattern>/boosterpack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prdListServlet</servlet-name>
        <url-pattern>/prdList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Createprd</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editprd</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleteprd</servlet-name>
        <url-pattern>/deleteprd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchaseServlet</servlet-name>
        <url-pattern>/ship</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
